.intro {
  height: 100%;
}

@media (min-height: 300px) and (max-height: 450px) {
  .intro {
    height: auto;
  }
}

.gradient-custom {
  /* background: -webkit-linear-gradient(90deg, #312c4d,#53699e,#afadff,#53699e,#312c4d); */
  /* Chrome 10-25, Safari 5.1-6 */                          
  /* background: linear-gradient(90deg, #312c4d,#53699e,#afadff,#53699e,#312c4d); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    

  background: -webkit-linear-gradient(90deg, #53699e,#afadff,#53699e);
  /* Chrome 10-25, Safari 5.1-6 */                          
  background: linear-gradient(90deg, #53699e,#afadff,#53699e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                                                                     
}