body{
    font-family: Arial;
    background-repeat: no-repeat;
}
.ddd{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    border-right: solid 2px silver;
    float: left;
}
.ddd a{
    display: block;
    text-decoration: none;
    color: black;
    height: 30px;
    padding-left: 20px;
    padding-top: 8px;
    padding-right: 8px;
    font-size: 1.2em;
}
.ddd a:hover{
    background: rgb(221, 221, 221);
}
#menu{
    float: center;
    margin-left: 320px;
}
/* .table{
    position: absolute;
    left: 40px;
    background-color: black;
    
} */