@import url(reset.css);

.btns .modifications .search {
    display: flex;
}
.modifications {
    display: flex;
    left: 300px;
}
.search {
    display: flex;
    float: right;
}
table {
	border: none;
	margin-bottom: 20px;
}
.table tr th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
table tr th:first-child {
	border-radius: 8px 0 0 8px;
}
table tr th:last-child {
	border-radius: 0 8px 8px 0;
}
table td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
table tr:nth-child(even){
	background: #f3f3f3;
}
table tr td:first-child {
	border-radius: 8px 0 0 8px;
}
table tr td:last-child {
	border-radius: 0 8px 8px 0;
}