/* section {
    background-color: aquamarine;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 18%;
    
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-flow: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: .5s;
    
    }
    ul li a {
    
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #262625;
    font-weight: bold;
    }
    ul li a:hover {
        background-color: black;
        color: #fff;
        transition: .5s
    } */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    margin-right: auto; 
}
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

nav {
    margin-left: auto;
  }

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #0384af;
}